{% block content %}
<form method="POST" action="save/">
	{% csrf_token %} 
<label for="Author_name">Author_name</label>
<input type="text" id="Author_name" name="author">
<br>
<br>
<label for="title">Title</label>
<input type="text" id="title" name="title">
<br>
<br>
<label for="article">Compose</label>
<textarea rows="20" cols="50" id="article" name="article"></textarea>>
<br> 
<br>
<button type="submit">Submit</button>

<button type="submit" class="btn btn-success btn-lg">Submit</button>
</form>
{% endblock %}