{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<br>
<form method="POST" action="save/" class="jumbotron">
	{% csrf_token %} 
	<div class="row h4">
		<div class="col-sm-6 text-center">
		<label for="Author_name">Author_name</label>	
		</div>
		<div class="col-sm-6">
		<input type="text" id="Author_name" name="author">	
		</div>		
	</div>
	<br>
		<div class="row h4">
		<div class="col-sm-6 text-center"><label for="title" >Title</label></div>
		<div class="col-sm-6"><input type="text" id="title" name="title">		</div>	
	</div>
	<br>
	<div class="row h4">
		<div class="col-sm-6 text-center"><label for="article">Compose</label></div>
		<div class="col-sm-6"><textarea rows="15" cols="50" id="article" name="article"></textarea>		
	</div>	
	</div>
	<br>
   <button type="submit" class="btn btn-success btn-lg text-center" style="margin-left: 450px;">Submit</button>
      <button type="Reset" class="btn btn-danger btn-lg text-center" style="margin-left: 150px;">Reset</button>
</form>
{% endblock %}