{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
{% static "" as baseurl%}
{% if not Blogs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="alert alert-danger text-center h1">
	<strong>No blog found!!</strong>
	<a href="{% url "addblog" %}">Post a blog</a>
</div>
{% endif %}
{% for key,value in Blogs.items %}    
<div class="row center-block glyphicon-align-center align-self-center" style="margin-left: 100px;">
<div class="col-lg-11 jumbotron text-center">	
{{value.image}}	
	<img src="{{baseurl}}/block_image/{{value.image}}" width="300px" height="300px">
	<h1>Author name : {{ value.Author }}</h1>	
	<h3>Title : {{ value.title }}</h3>
	<p class="lead">Article :{{ value.Blog }}</p>
	<h6>Created on : {{ value.Date }}</h6>
	<div class="jumbotron-fluid">
		<h3>Related links@:</h3>
		{% for k,v in value.Links.items  %}
			<a href="https:/www.google.com/{{v}}" class="btn-link h4">{{k}}</a>
			<br>
		{% endfor %}
	</div>
</div>
</div>
{% endfor %}
<a href="/">Go Home</a>

{% endblock %}