{% extends 'base.html' %}

{% block content %}
{% load static%}

{% if not Blogs %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="alert alert-danger text-center h1">
	<strong>No blog found!!</strong>
	<br>
	<br>
	<a href="{% url "addblog" %}">Post a blog</a>
</div>
{% endif %}
{% for key,value in Blogs.items %}    
<div class="row center-block glyphicon-align-center align-self-center" style="margin-left: 100px;">
<div class="col-lg-11 jumbotron text-center">	
	<img src="/media/{{value.image}}" width="800px" height="300px">
	
	<h3>Author name : {{ value.Author }}</h3>	
	<h4><u>Title : {{ value.title }}</u></h4>
	<p class="lead small">Article :{{ value.Blog }}</p>
	<h5>Created on : {{ value.Date }}</h5>
	<div class="jumbotron-fluid">
		<h3>Related links@:</h3>
		{% for k,v in value.Links.items  %}
			<a href="https:/www.google.com/{{v}}" class="btn-link h4">{{k}}</a>
			<br>
		{% endfor %}
	</div>
</div>
</div>
{% endfor %}
<a href="/">Go Home</a>

{% endblock %}